@import "./utils/vars";
@import "./partials/header";
@import "./partials/create-object-button";
@import "./partials/forms";
@import "./partials/aspect";
@import "./partials/footer";

body {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: $main-font;
  background-color: $main-color;
}

a {
  text-decoration: none;
}
