.create-object-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.create-object-button {
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: #c0e0c4;
  padding: 25px 30px;
  cursor: pointer;
}
