.main__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 50px;
  }
}

.form {
  &__input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align: center;
    font-family: $main-font;
    font-weight: 700;

    &:hover,
    &:focus {
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    transition: 250ms;

    &:hover,
    &:focus {
      transform: rotate(10deg);
      transition: 250ms;
      cursor: pointer;
    }
  }
}
